.footerOuter {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: azure;
}

.footerInner {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footerInner h3 {
    color: blueviolet;
    font-family: sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.logo {
    
    top: 0px;
    align-items: center;
    /*width: 30vw;*/ 
    height: 30vh; 
    border: 0px solid black;
    margin: 0vh 10vh;
}

.logo div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 12vh;
}

.logo p {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(17, 113, 192);
    text-transform: uppercase;
    text-align: center;

    word-wrap: none;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*margin-right: auto; */
    margin-bottom: auto;
    /*width: 30vw; */
}

.links a {
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2em;
    color: rgb(17, 113, 192);
}

.links a:hover,
.links a:focus {
    text-decoration: underline;
}

.links span {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: rgb(17, 113, 192);
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 1;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*margin-right: auto; */
    margin: 0vh 10vh; 
    margin-bottom: auto;
    /*width: 30vw; */
}

.socialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: normal;

}

.socialMediaIcons img {
    height: auto;
    width: auto;
    max-height: 25px;
    max-width: 25px;
}
