.contact_us_form {
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    text-transform: uppercase;
    color: blue;
    font-family: sans-serif;
    font-size: 14px;
}

.contact_us_form div {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_us_form label {
    color: blue;
    font-family: sans-serif;
    font-size: 22px;
    text-transform: capitalize;
}

.contact_us_form input {
    width: 80%;
    height: 40px;
    font-size: 20px;
}

.message .contact_us_form input {
    height: 120px;
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 10px;
}
