.our_services_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgb(17, 113, 192);
    background-color: white;
    padding: 25px 0;
}

.our_services_section h3 {
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.our_services_section .tiles_row {
    display: flex;
    padding: 0 25px 25px 25px;
    align-items: flex-start;
    justify-content: space-around;
    width: 90%;
}
