.services_tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.services_tile img {
    height: 15vw;
    /*width: 17vw; */
    margin: 15px;
}

.services_tile p {
    text-transform: none;
    line-height: 1.5;
    font-size: 16px;
}

.services_tile span {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    text-transform: capitalize;
    width: 100%;
}
