.courseContainer {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
   
}

.topBackground {
    display: flex;
    justify-content: center;
    align-items: center; 

    background-image: url('./assets/bg_course_page.jpg');
    background-color: lightgrey;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    height: 84vh;
    padding: 0;
    margin-bottom: 20px;
}

.topBackground p {
    font-family: sans-serif;
    font-size: 22px;
    visibility: hidden;
}

.courseInfo {
    width: 75%;
    margin: auto;
    padding: 0;
}

@media only screen and (max-width: 1163px) {
    .courseInfo {
        width: 100%;
    }
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 170px;
}

.logo {
    display: flex;
    width: 30%;

    margin: 4px 20px;
    align-items: center;
    justify-content: center;

}

.logo img {
    height: 125px;
    width: auto;
}

.logo p {
    font-family: sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.courseTitleOuter {
    display: flex;
    flex-direction: column;
  
    margin: 4px 20px;

}

.courseTitleInner {   
    display: flex;
    align-items: center;
    
}

.courseTitleInner ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

.courseTitleInner li {
    font-size: 16px;
    font-family: sans-serif;
   
    color: rgb(17, 113, 192);
    
    text-transform: uppercase;

    margin-top: 0;
    margin-left: 5px;
    padding-bottom: 10px;
}

.registerBtn {
    padding: 0;
}



.middle {
    display: flex;
    flex-direction: row;
}

.midLeft {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px 20px;
}

.midLeftTop, .midLeftCenter {
    padding: 0;
    margin: 0;
    
}

.textBox {
    margin: 0 10px;
    overflow: auto;
}

.middle h1 {
    padding-top: 10px;
    margin-left: 10px;
    font-size: 22px;
    font-family:sans-serif;
    
    color: rgb(17, 113, 192);

    text-align: left;
}

.middle p {
    font-size: 14px;
    font-family: sans-serif;
    text-align: justify;
    
    color: #696867;

    line-height: 1.5;;

}

.midLeftBottom {
    padding: 5px 10px;
    padding: 0;
    margin: 0;

}

.instructorInfo {
    display: flex;
    flex-direction: column;
}

/**Instructor info first and second row*/
.firstRow, .secondRow{
    margin: 10px;
}

.firstRow img {
    float: left;
    height: 20vh;
    margin: 5px 25px 0 12px;
}

.secondRow img {
    float: left;
    height: 20vh;
    margin: 5px 25px 0 12px;
}

.middleRight {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px 20px;

    border-left: 2px solid  #696867;
}

.midRightTop {
    padding: 0;
    margin: 12px 20px;

}

.midRightTop ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 40%;
}

.midRightTop li {
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    
    color: rgb(17, 113, 192);
    
    margin-top: 12px;
    margin-left: 10px;
    padding: 0;

}

.midRightBottom {
    margin: 0 20px;
    padding: 0;
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.reviews img {
    height: 12vh;
    margin: 7px 10px;
}

/**
.reviews .image {
    height: 12vh;
    width: 30%;

}

.reviews .image .imgFirstReview {
    height: inherit;
    width: 100%;
    background-image: url('./assets/reviewer_1.jpg');
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
}

.reviews .image .imgSecondReview {
    height: inherit;
    width: 100%;
    background-image: url('./assets/reviewer_2.jpg');
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
}

.reviews .image .imgThirdReview {
    height: inherit;
    width: 100%;
    background-image: url('./assets/reviewer_3.jpg');
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
}

.reviews .image .imgFourthReview {
    height: inherit;
    width: 100%;
    background-image: url('./assets/reviewer_4.jpg');
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
}
*/



.reviews .textBox {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 0;
    margin: 0;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}





