.courseContainer {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
   
}

.topBackground {
    display: flex;
    justify-content: center;
    align-items: center; 

    background-image: url('./assets/bg_course_page.jpg');
    background-color: lightgrey;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    height: 84vh;
    padding: 0;
    margin-bottom: 20px;
}

.topBackground p {
    font-family: sans-serif;
    font-size: 22px;
    visibility: hidden;
}

.courseInfo {
    width: 75%;
    margin: auto;
    padding: 0;
}

@media only screen and (max-width: 1280px) {
    .courseInfo {
        width: 90%;
    }
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 170px;
}

.logo {
    display: flex;
    
    width: 60%;

    margin: 4px 20px;
    align-items: center;
    justify-content: flex-end;

}

.logo img {
    height: 125px;
    width: auto;
    margin-right: 85px;
}

.logo p {
    font-family: sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.courseTitleOuter {
    display: flex;
    flex-direction: column;

    width: 40%;
  
    margin: 4px 20px;

}

.courseTitleInner {   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.courseTitleInner ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

.courseTitleInner li {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
   
    color: rgb(17, 113, 192);
    
    text-transform: uppercase;

    margin-top: 0;
    margin-left: 5px;
    padding-bottom: 10px;

    
}

.registerBtn {
    padding: 0;
}



.middle {
    display: flex;
    flex-direction: row;
}

.midLeft {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px 20px;
}

.midLeftTop, .midLeftCenter {
    padding: 0;
    margin: 0;
    
}

.midLeftTop .textBox p {
    text-align: center;
}

.midLeftCenter .textBox p {
    margin-top: 10px;
}

.midLeftCenter .textBox ul {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #696867;
}

.textBox {
    margin: 0 10px;
    overflow: auto;
}

.middle h1 {
    padding-top: 10px;
    margin-left: 10px;
    font-size: 22px;
    font-family:sans-serif;
    
    color: rgb(17, 113, 192);

    text-align: left;
}

.middle p {
    font-size: 14px;
    font-family: sans-serif;
    text-align: justify;
    
    color: #696867;

    line-height: 1.5;;

}

.midLeftBottom {
    padding: 5px 10px;
    padding: 0;
    margin: 0;

}

.instructorInfo {
    display: flex;
    flex-direction: column;
}

/**Instructor info first and second row*/
.firstRow, .secondRow{
    margin: 10px;
}

.firstRow img {
    float: left;
    height: 20vh;
    margin: 5px 25px 0 12px;
}

.secondRow img {
    float: left;
    height: 20vh;
    margin: 5px 25px 0 12px;
}

.middleRight {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px 20px;

    border-left: 2px solid  #696867;
}

.midRightTop {
    padding: 0;
    margin: 12px 20px;

}

.midRightTop ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.midRightTop li {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    
    color: rgb(17, 113, 192);
    
    margin-top: 12px;
    margin-left: 10px;
    padding: 0;

}

.midRightBottom {
    margin: 0 20px;
    padding: 0;
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.reviews img {
    height: 12vh;
    margin: 7px 10px;
}

.reviews p {
    text-align: left;
    font-style: italic;
}

.reviews .textBox {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 0;
    margin: 0;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}





