.aboutContainer {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.top h1 {
    font-family: sans-serif;
    font-size: 22px;
    text-transform: uppercase
}

.contentBox {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

.contentBox h3 {
    font-family: sans-serif;
    font-size: 18px;
}

.contentBox p {
    font-family: sans-serif;
    font-size: 16px;
}
