.inspiration_slide {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.inspiration_slide div {
    width: 32%;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inspiration_slide blockquote {
    font-size: 20px;
    width: 45%;
    text-align: center;
    padding: 10px 0;
}

.inspiration_slide footer {
    font-size: 16px;
}
