.services_tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.services_tile img {
    height: 12vw;
    width: 12vw;
    border: 1px solid black;
    margin: 5px;
}

.services_tile p {
    text-transform: none;
    line-height: 1.5;
    font-size: larger;
}

.services_tile span {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    text-transform: capitalize;
    width: 100%;
}
