.coachingContainer {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

.banner p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.contactUsBtn {
    padding: 0;
    margin: 20px;
}

h1 {
    font-size: 22px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgb(17, 113, 192);
    margin: 0;
}

h2 {
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgb(17, 113, 192);
    margin: 0;
}

p {
    font-size: 14px;
    font-family: sans-serif;
    color: #696867;;
    text-align: justify;
    line-height: 1.5;
    padding: 0 10px 5px 10px;
}

.title {
    text-align: center;
}

.title h1 {
    padding: 30px;
    word-wrap: break-word;
    white-space: normal;
}

.contentBox {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
}

.contentBox h2 {
    margin: 20px;
}
