.header {
    left: 0;
    top: 0;
    background-color: azure;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    height: 15vh;
    border: 1px solid black;
}
