.header {
    left: 0;
    top: 0;
    background-color: azure;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    padding: 15px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.logo {
    align-items: center;
    width: 18vh;
    height: 15vh;
    border: 0px solid black;
    margin: 0vh 5vh;
}


.logo div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 10vh;
}

.logo p {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(17, 113, 192);
    text-transform: uppercase;
    text-align: center;
}


.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    margin-right: auto;
    margin-bottom: auto;
}

.socialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 25px;
}

.viewCourses button {
    margin-left: 25px;
    width: 10vw;
    padding: 0;
}

.socialMediaIcons img {
    height: auto;
    width: auto;
    max-height: 25px;
    max-width: 25px;
    margin: 6px;
}
