.header {
    left: 0;
    top: 0;
    background-color: azure;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    align-items: center;
    width: 18vh;
    height: 15vh;
    border: 0px solid black;
    margin: 0vh 5vh;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: auto;
    margin-bottom: auto;
    width: 30vw;
}

.socialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: normal;

}

.socialMediaIcons img {
    height: auto;
    width: auto;
    max-height: 25px;
    max-width: 25px;
}
