.assessmentContainer {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    /**background-color: lightgrey; */
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('./assets/bg_assessment_page.jpg');
    background-color: whitesmoke;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;

    padding: 0;
    margin: 0;
    
}

.top p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    visibility: hidden;
}


.contactUsBtn {
    padding: 0;
}


h2 {
    font-size: 22px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgb(17, 113, 192);
    margin: 0;
    padding: 0 10px 5px 10px;

}

h3 {
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgb(17, 113, 192);
    margin: 0;

}

p {
    font-size: 14px;
    font-family: sans-serif;
    color: #696867;;

    text-align: justify;
    line-height: 1.5;
    padding: 0 10px 5px 10px;

}

.bottom {
    width: 75%;
    padding: 0;
    margin: auto;
    
}

.bFirst {
    margin: 30px 20px 10px 20px;
    padding: 0;
}

.title {
    text-align: center;
}

.title h1 {
    padding: 30px;
    word-wrap: break-word;
    white-space: normal;
}

.bFirst .contactUsBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 20px 0;
}

.bSecond {
   
    margin: 0 20px 10px 20px;
}

.bSecond h2 {
    padding: 10px;
    font-weight: normal;
}

.bThird {
    margin: 20px;
    margin-bottom: 0;
}

.bThird h2 {
    padding: 10px;
    font-weight: normal;
    text-align: left;
}

.bThird h3 {
    padding: 10px 10px;
    font-weight: normal;
    text-align: right;
}

.assessment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.content {
    width: 60%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.logo img {
    height: auto;
    width: auto;

    max-height: 110px;
}


.bFourth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;

}

@media only screen and (max-width: 1163px) {
    .bottom {
        width: 90%;
    }
}






